body{
    background: url("https://images.pexels.com/photos/1363876/pexels-photo-1363876.jpeg")  ;
    background-size: cover;
    margin: 0;
    font-family: "Montserrat" , "Avenir";
}
#check{
    display: inline-block;
    width: 20%;
}
#btn{
    height: 30px;
    text-align: center;
    background: white;
}
button{
    border: none;
    background: white;
    text-transform: uppercase;
    height: 100%;
    color: steelblue;
    font-weight: 800;
    letter-spacing: 1px;
    transition: background 0.3s;
}
button:hover{
    color:white;
    background:blue;
}
h1{
    color: white;
    text-align: center;
    background-color: steelblue;
    margin: 0;
    font-weight: normal ;
    line-height: 1.1;
    padding: 20px 0;
    text-transform: uppercase;
    transition: background 0.6s;
}
#container{
    margin-top: 10px;
    max-width: 600px;
    margin: 20px auto;
}
.square{
    width: 30%;
    padding-top: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: transform .3s;
}
.square:hover{
    transform: rotate(90deg);
}
.selected{
    color:white;
    background:blue;
}